<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name ="RepoCredentials" type="CodeChurnLoader.RepoCredentials, CodeChurnLoader" />
    </configSections>    
    <system.net>
        <settings>
            <!-- Somemtimes to avoid protocol violation during GitHub api call-->
            <!--<httpWebRequest useUnsafeHeaderParsing = "true"/>-->
        </settings>
    </system.net>

    <RepoCredentials Owner="stanbpublic" UserName="" Password="" />
</configuration>